[2011-06-01 06:31] RonnyPfannschmidt opened #1 ":Pytest function doesnt seem to act on parametrized functions"
tried to run one of anyvc's tests functions (which is parametrized)
i know it passes, but i never got the confirmation

[2011-06-01 06:33] RonnyPfannschmidt opened #2 "calling pytest is blocking"
Conque is also non-blocking, so it should be possible (most likely hard tho)

[2011-06-03 15:54] #1 closed, assigned to nobody

[2011-07-27 21:26] mrsipan opened #3 "can't give path of alternative py.test"
Is it posible to provide an alterntive py.test?

[2011-07-27 21:27] #3 closed, assigned to nobody

[2011-07-27 21:29] mrsipan opened #4 "can't provide alternative py.test"
Is it posible to provide an alternative py.test

[2011-07-28 14:02] #4 closed, assigned to nobody

[2012-01-26 21:40] totte opened #7 ":Pytest error error"
If I open a Python file with a few assertion errors in it, run ":Pytest file" and then press either "q" or "Return" to close the list of errors followed by running ":Pytest error" I get E127 errors stating that the functions ShowError, ToggleShowError and Proxy (in pytest.vim) cannot be redefined since they are in use.

[2012-01-27 02:08] #7 closed, assigned to nobody

[2012-03-31 12:12] pyx opened #8 "LoopOnFail and LoopProxy may remove autocmd set by other scripts"
Executing `au!` without a group name will remove all autocmd in current group, which may contain autocmds set by other scripts.
For example, once I run `:Pytest file<CR>`, `:e newfile.py` will not trigger syntax highlighting, I have to run `:syntax on` or `:syntax enable` manually for each newly created buffer in the same vim session afterwards.
This can be fixed by adding an autogroup.

[2012-04-01 20:38] #8 closed, assigned to nobody

[2012-05-22 18:22] ryanpetrello opened #10 "Green bar when py.test not installed"
Not sure if there's anything you can do about this, but something I noticed while working in a new virtualenv today:

If you run pytest.vim, but don't have py.test installed, the results bar is green.  If you show open the results, it shows a message indicating that it couldn't find py.test.  Maybe the bar should be red instead if py.test isn't installed?

[2012-05-22 20:45] #10 closed, assigned to nobody

[2012-05-28 22:59] donvargax opened #11 "Doesn't work when vim's current directory isn't the same as the test's file directory."
When you run Pytest on a file in a different directory than the current working directory, pytest shows the following message:

"No failed tests from a previous run"

If I change the current directory to the one where the test file is, everything works correctly.

[2012-06-06 11:55] #11 closed, assigned to nobody

[2013-04-24 17:22] shaunduncan opened #13 "`:Pytest file delgado` requires redraw for terminal vim"
I've seen this happen in both terminal.app and iTerm2, but doesn't seem to happen when using MacVim. When I run `:Pytest file delgado`, terminal vim chokes on the redraw and I'm required to manually issue `:redraw!`.

FWIW, I was able to remedy this by adding `redraw!` after the call to `silent! exe command` in the Delgado function in pytest.vim. However, I lost the ability to see the ability to s

[2013-04-25 12:29] #13 closed, assigned to nobody

[2013-11-06 13:00] ktosiek opened #15 "Passing custom arguments to py.test"
Would it be possible to have a per-buffer custom arguments to pass to py.test?
I'd like to pass --reuse-db in all my Django projects by default when developing, but I'd rather not add it to pytest.ini

[2013-12-03 08:41] blueyed opened #16 "Allow to "just" run py.test in the current working directory"
I would like to invoke the plugin without any file/dir arguments: the tests to be run should get discovered/collected automatically (depending on the config file).

This does not appear to be supported, is it?

While at it, something like "Pytest repo" might be useful, where py.test gets run in the current repository root (this could use/depend on the following plugin: https://github.com/jmcantrel

[2013-12-09 03:28] brettc opened #17 ""function" is missing from autocompletion"
You can specify "Pytest function", but it isn't in the autocompletions. The following works for me...

[code]

[2014-02-20 13:57] nicolaiarocci opened #18 "Nested functions cause the plugin to fail"
Hello and well done on this plugin!

If the test includes a nested function (like [this one](https://github.com/nicolaiarocci/eve/blob/develop/eve/tests/renders.py#L219)) the plugin will fail on both `method` and `class`. even if the cursor is outside the nested routine (these are unittest functions which py.test discovers and runs without issues).

[2014-02-21 13:12] #18 closed, assigned to nobody

[2014-03-13 17:16] ryanpetrello opened #19 "py.test -s with conque doesn't clean up the buffer"
When debugging with conque, subsequent debug sessions show the output from the previous debugging session:

http://showterm.io/2c8d47146ac15b65be8f0

[2014-06-10 15:41] #15 closed, assigned to nobody

[2014-06-10 15:43] #17 closed, assigned to nobody

[2014-06-10 15:45] #16 closed, assigned to nobody

[2014-07-25 12:37] alfredodeza opened #20 "`looponfail` has undefined variables"
[code]

[2014-10-09 21:14] ecerulm opened #21 ":Pytest project always returns "no failed test from a previous run" unless current buffer is in tests dir"
In a project with the following structure

[code]

and running `vim` with `fakeproject`  as current working directory.

If the current buffer is `mymodule.py` and I run `:Pytest projectwd`  I get `$HOME/tmp/fakeproject/mypackage/tests/` which it's ok. `:Pytest project` doesn't  seem to execute any test.

On the other hand if the current buffer is `test_mymodule.py` and I run `Pytest project` then

[2014-10-13 13:31] #21 closed, assigned to nobody

[2014-12-28 19:15] sloria opened #23 "Can't run function/method that uses parametrization"
### To reproduce:

Given the following code:

[code]

Executing `:Pytest function verbose` results in the following error.

[code]

Note: `:Pytest file` works fine. However, it'd be very nice to run paramerized test functions and methods in isolation.

[2015-01-02 05:20] sloria commented on #23
@alfredodeza The patch works as expected. I was able to run parametrized tests, but tests whose names begin with the same substring also run. For me, this is fine for the time being until the pytest issue you reported is addressed; better to have too many tests run than none. =)

[2015-01-15 02:09] sloria commented on #23
To amend my previous comment: I ended up reverting back to `master`... turns out I name my test functions with the same prefix more often than I thought.

Hopefully there's a better solution that doesn't add too much complexity.

[2015-01-15 19:49] alfredodeza commented on #23
Even though that is the case for you, I think this plugin should still try to work with parametrized tests vs. not handling them at all. I will merge this into master shortly unless you have strong opinion against it?

I've been bit by this problem before and I rather have a few extra tests run (in the worse case scenario) than just a generic error.

[2015-01-16 02:45] sloria commented on #23
@alfredodeza I think it is fine to merge. I have no strong opinion either way.

[2015-01-16 14:39] #23 closed

[2015-01-18 16:38] sloria opened #24 "Cannot run test classes with inner classes"
Test classes with inner classes fail to run.

The following code reproduces the problem:

[code]

Running either `Pytest class` or `Pytest method` results in an error:

[code]

I am using the latest version of pytest.vim and pytest 2.6.3.

[2015-01-19 14:51] alfredodeza commented on #24
@sloria mind checking out the `issue24` branch and see if that fixes your problem? I tried and it works for me.

[2015-01-19 16:02] sloria commented on #24
@alfredodeza Running `Pytest class` now works correctly, but `Pytest method` seems to have been broken. Here is the test class I was using: https://github.com/marshmallow-code/marshmallow/blob/7826ae0d4813772dd79a876e99cf816cb2b22642/tests/test_schema.py#L1935-2033

[2015-01-19 16:34] alfredodeza commented on #24
@sloria sorry about that, mind trying it again? I *think* this is good to go now.

[2015-01-20 02:30] sloria commented on #24
@alfredodeza Yep, seems to be working. Thanks!

[2015-01-20 13:15] alfredodeza commented on #24
Fixed with https://github.com/alfredodeza/pytest.vim/pull/25

[2015-01-20 13:15] #24 closed

[2015-01-23 21:40] asafpelegcodes commented on #23
If I did a pip install --upgrade will I be able to see the bug fixed, I'm currently experiencing the same issue

[2015-01-23 21:43] alfredodeza commented on #23
@asafpelegcodes this issue is from `py.test` and has not been fixed. This branch fixes this problem in the sense that it applied a filter option (with `-k`) so you should be able to run parametrized tests and not see an error.

py.test issue is here: https://bitbucket.org/hpk42/pytest/issue/649/parametrized-test-nodes-cannot-be

[2015-01-23 21:54] asafpelegcodes commented on #23
Thanks Alfredo, I just commented on the bitbucket bug as well to note that
I found it as well.

On Fri, Jan 23, 2015 at 4:43 PM, Alfredo Deza <notifications@github.com>
wrote:

[2015-04-16 10:36] vigten opened #26 "pytest-sugar"
The plugin seam need that pytest-sugar is not enabled.

[2015-04-16 11:41] alfredodeza commented on #26
I am not sure what you mean. You have installed a plugin and want it enabled? or disabled? Are you getting an error? (if so of what kind?)

[2015-04-16 12:23] vigten commented on #26
When I call pytest on file with pytest-sugar installed it does not find erroer...other wise is behave as expected...

[2015-04-16 12:29] alfredodeza commented on #26
Aha, so yes, this plugin relies on py.test output. So any plugin that alters the output (like pytest-sugar) will have unusual effects that will break the plugin.

There is no way for this plugin to reliably understand output from py.test in any other way.

My suggestion would be to disable pytest-sugar when running from the terminal. You could have pytest-sugar disable its terminal reporting or so

[2015-04-16 12:29] #26 closed

[2015-04-16 15:12] vigten commented on #26
There existe a `--nosugar` flag.. if is possible to give flag to the defaut pytest command then the problem could be solved like that.

In general may be could be nice to put more explicit message when no test have been run, so that if other pytest plugin modify output the user can realize that there are a problem, othewise will think all tests have passed.

[2015-04-17 12:20] alfredodeza commented on #26
There are explicit messages when no tests are run, but if I install pytest-sugar, tests *do* run, it is just that it is impossible to parse the output.

[2015-06-24 13:17] alfredodeza opened #27 "Most exceptions do not display the exception message"
Usually only AssertionErrors do. Anything else forces the user to check the output.

[2015-06-24 13:27] alfredodeza commented on #27
Fixed with 7e0b214144c490c1faa6b6f7463add4b75b68cb4

[2015-06-24 13:27] #27 closed

[2015-06-26 14:36] akarl818 commented on #20
Yep I get this too

[2015-09-15 17:47] fabianvf opened #28 "Is there any support for doctests?"
Doctests can normally be run in pytest with the `--doctest-modules` option, is there any support for this in your tool? If not, would it be something you would want added? Love the tool by the way, saves a ton of time.

[2015-10-03 09:16] ev-agelos commented on #11
My structure is:
My project/
    - app1/
        - tests/
            -unit/
                -test_something.py
            -functional/
                -test_something_else.py
    -app2/....

I am on directory my_project/app1 and open the file tests/function/test_something.py
I run :Pytest function and shows green bar with all tests passed and then i type :Pytest session and shows the error!

Whe

[2015-10-05 13:54] alfredodeza commented on #11
@ev-agelos please open a separate issue for this describing what errors you see and if possible a way to replicate. This particular ticket has been closed for a while and does not look related to what you are describing. Thanks!

[2015-10-06 20:35] ev-agelos opened #30 "Shows all tests passed instead of fail."
I installed the plugin moved to the standard directory where i run usually py.test(from terminal) in order to see how pytest.vim works.
The directory that i usually run the tests is one level up from the tests folder: MyProject/app1/
In a few words the issue here is that i changed a test in order to fail and run :Pytest function, and i am getting green bar with all tests passed, then i type :Pytes

[2015-10-06 20:42] alfredodeza commented on #30
Let me clarify a few things that you mention:

* pytest.vim **does not** depend on what directory you are. You can be on '/' and run a test in '$HOME/my_app/tests/test_foo.py`
* You mention that you "executed gvim tests/unit/test_something.py" but that doesn't tell me *what* you used. `Pytest method` ? or `Pytest file` ? something else?

I would need a way to replicate your problem, I would need t

[2015-10-06 21:16] ev-agelos commented on #30
I read also the other similar ticket and understood that it doesnt depend the directory that u run a test but i wanted to show as much information as possible.
I used :Pytest function in every situation(i am sorry i forgot to say that).
Well the code is private so i can not show anything from the code but when i run :Pytest session well it shows what Pytest python library show.

Feel free to close

[2015-10-06 21:18] alfredodeza commented on #30
@ev-agelos I really want to get this fixed if you are having issues though.

Could you at least give me the output of what `Pytest session` looks? And the best way to debug this would be for you to try and replicate this on another new project so you can find a way to allow me to debug further.

[2015-10-06 21:26] ev-agelos commented on #30
Again the session shows the same result as i would have run it from terminal using the Python library.
Ill try to make the same structure with folders, a new test project in the next days and i hope i will get the same error and give you as much info as possible.

[2015-10-06 22:21] alfredodeza commented on #30
@ev-agelos I **require** that `Pytest session` output, even if you consider that to be *the same*. Because I don't know how it is *the same*. If you cannot provide me with a paste of the output I cannot debug this.

`pytest.vim` parses the output, there is something in that output that is making the bar to go green with the generic "All tests passed" and I cannot tell what is causing that until yo

[2015-10-09 17:18] ev-agelos commented on #30
Ok here it is.
I open the test file from ```project/app1/```

My project structure(the only file that exists is the test_something.py with one function inside that i
 ```assert 1 == 2``` just to make it fail):

* project/
  * app1/
    * tests/
      * unit/
        * test_something.py
      * functional/
  * app2/
    * tests/
      * unit/
      * functional/

OUTPUT of the :Pytest session
[code

[2015-10-09 17:21] alfredodeza commented on #30
What are all those codes? ANSI escape codes? That will surely break parsing

[2015-10-09 17:23] ev-agelos commented on #30
I guess this(I run it also in terminal):
――――――――――――――――――――――――――――――― test_description ―――――――――――――――――――――――――――――――

[2015-10-10 09:03] ev-agelos commented on #30
The problem was from sugar plugin. I uninstalled it and worked.
And then i read about delgado..
I also found another ticket that says the same thing about sugar.

[2015-10-12 12:06] alfredodeza commented on #30
I think that `pytest.vim` could do better here though. Do you think that if the plugin returned a warning message if it detected the ANSI color codes would be reasonable? Something like:

    Could not parse py.test output. If using a plugin that alters the default output, consider disabling it.

[2015-10-12 13:47] ev-agelos commented on #30
For sure anything would be helpful than the green bar + all tests passed :D
Also please add to README also that sugar has to be uninstalled etc

[2015-11-02 16:10] alfredodeza opened #31 "`No failed tests from a previous run` lies"
When the output looks like:

    ============================= test session starts ==============================
    platform darwin -- Python 2.7.6 -- py-1.4.30 -- pytest-2.7.3
    rootdir: /Users/alfredo/python/merfi, inifile:
    collected 6 items

    tests/test_repocollector.py F

    =================================== FAILURES ===================================
    ______________ TestRepo

[2015-11-09 04:56] alexlafroscia opened #32 "Fails with spaces in file path"
Apparently `pytest.vim` has trouble running tests that have a space in the path to the current directory; `pytest` itself doesn't have this problem if run from the command line.

[2015-11-09 12:25] alfredodeza commented on #32
Give me some time to replicate this and I will get back to you soon. Thanks for reporting this!

[2015-11-09 17:10] alexlafroscia commented on #32
Sure thing :smile:

[2015-11-14 10:36] alfredodeza commented on #32
@alexlafroscia I tried replicating the issue and couldn't. Would you mind setting up something that I can use to replicate the issue? I tried different spaces in the path and was not able to trigger any problems

[2015-11-14 20:22] alexlafroscia commented on #32
Yeah, I'll try to put something together.

[2015-11-15 20:08] alexlafroscia commented on #32
Alright, so if you unzip this file, open `main.py` in Vim and then run `Pytest project`, I got an error.  If I then check out `Pytest session` for more details, it says that there is no directory called `path/to/location/failing`.

http://d.pr/f/15Akp

[2015-11-16 13:24] alfredodeza commented on #32
It seems this only affects `project` and nothing else. Can you confirm this on your end? I wasn't able to make it break with function/file/class/method

[2015-11-16 13:53] alfredodeza commented on #32
@alexlafroscia I just pushed 66135d96689b5f7a4211f208d0a83bf83b23523e to master, would you mind updating the plugin and see if that fixes it? I tested locally without problems.

[2015-11-16 16:47] alexlafroscia commented on #32
Yup, seems to be fine now! Thanks!

[2015-11-16 16:47] #32 closed

[2015-11-30 14:57] blueyed opened #33 "Allow to pass options to py.test"
It would be useful for `:Pytest --testmon` to pass the `--testmon` option to `py.test`.

Additionally some setting could be used for default options?

[2015-11-30 15:02] alfredodeza commented on #33
I am not sure what `--testmon` is/does but the general idea behind this plugin is to be able to control the output as much as possible because it parses it. The parsing is crucial for all the functionality behind the plugin and allowing arbitrary flags being passed in can potentially alter the output and break the plugin.

pytest.vim can also break when py.test plugins that alter output by default

[2015-11-30 15:28] blueyed commented on #33
Yes, I see that it might break things, but you should still allow for it probably.

As for `--testmon`, it allows to filter tests according to coverage (https://github.com/tarpas/pytest-testmon), so I would like to use it of course (for the project scope), but not necessarily in conftest / setup.cfg.

[2015-11-30 15:30] alfredodeza commented on #33
There is no way to safely and programmatically allow certain flags and disallow certain others. I am unsure how to best support your use case without breaking for others. But I do welcome any ideas on how to solve this in a robust way.

[2015-11-30 15:59] blueyed commented on #33
I would just allow for them to be passed: it's the user's responsibility then I would say.
Regarding the formatting, you could pass the required ones afterwards to override any options from the user in this regard.

[2015-12-17 13:21] alfredodeza opened #34 "neovim support when using `--pdb` or `-s`"
Otherwise the terminal will be non-interactive.

[2015-12-17 13:26] alfredodeza commented on #34
Fixed with commit 3ed68190f40f4a3b60ecfffd1c71899e08b098cd

[2015-12-17 13:26] #34 closed

[2015-12-18 12:59] alfredodeza commented on #33
I have thought about this and I think I will allow extra options passed in. Mainly because we are already implicitly allowing it via `conftest.py` (and similar files) so you are right in that it should be up to the user to understand if they are passing the right flags or breaking the plugin.

[2015-12-18 13:07] alfredodeza opened #35 "enable full neovim support for async tests"

[2015-12-18 13:08] alfredodeza commented on #35
Fixed with: dad8a59d7f1a7f40afe2d22f0f6c26bc47fb629c

[2015-12-18 13:08] #35 closed

[2015-12-18 13:20] alfredodeza opened #36 "if skipped tests are shown, don't say all tests passed"
Try to parse the output to point out we had skipped tests.

[2015-12-18 13:21] #36 closed

[2015-12-18 13:32] #30 closed

[2015-12-18 14:07] alfredodeza commented on #33
@blueyed would you mind trying out the extra-flags branch and tell me how it works for you? I added support for everything except running the whole project.

[2015-12-28 13:27] alfredodeza commented on #31
This is happening because the exception is not an AssertionError and it is not an exception with a message, which the plugin assumes either of. The fix means that it needs to detect an exception with no message that is not an AssertionError

[2015-12-28 13:51] alfredodeza commented on #31
Fixed with 71d813d1e74266c9c1032dfcfd57dbe6b3def41b

[2015-12-28 13:51] #31 closed

[2015-12-28 21:45] alfredodeza commented on #19
fixed in commits ac3b9448877d29f309e7cbfee1ac1a84ead98a84 and b5a97f6ef815ec80898b1315af2dba76126af627

Sorry for the delay :(

[2015-12-28 21:45] #19 closed

[2016-01-14 13:20] The-Compiler commented on #26
Maybe `pytest.vim` should just pass `-p no:sugar` to pytest by default? That'd deactivate the sugar plugin (which is probably the common case) if it's enabled.

Also, couldn't it use pytest's junitxml output as a more robust solution?

[2016-01-14 13:26] alfredodeza commented on #26
@The-Compiler it could certainly add that flag. But it is not a maintainable solution as `pytest-sugar` is not the only plugin out there that modifies output.

I think parsing XML output with VimScript might be a bit too much for me. It is far easier to just look at output :)

[2016-01-14 13:33] Spaghetti-Cat commented on #24
FYI, in case @alfredodeza ever has a regression with this issue or something similar, using nested classes in py.test is not supported. Here is a line from a chat I had with one of the devs:

[2016-01-14 13:45] Spaghetti-Cat opened #37 "Can't specify name of alternative test directory"
I keep my tests in a directory called "test" rather than "tests", so when I run:

```:Pytest project```

It doesn't find any test files:

I'm 1 year into development of this project so I'd really rather not rename the folder because it makes it a pain in the butt, e.g. if I want to use vim-fugitive to compare a file with an older commit the comparison would fail because the path to the file was di

[2016-01-14 13:52] The-Compiler commented on #26
"Perfect is the enemy of good" :wink:

pytest-sugar is the common culprit - for @vigten, for someone in the `#pylib` IRC channel just now, and it would've been for me if I didn't ditch pytest-sugar because of other issues.

The only other one I'm aware of is `pytest-instafail`, not sure if it makes enough of a difference to break pytest.vim.

I don't expect there to be much more, and it'd make pyt

[2016-01-14 19:21] alfredodeza commented on #26
@The-Compiler I asked a while ago about the `--result-log` flag, but it seems that format was never fully reliable.

The latest version of the plugin should now correctly report the inability to parse output, this was introduced recently on 9b34f637e79579cd65e0781d9cc5543df7a4e2ca

There is also a plan to allow passing flags, so having a combination of flags added by default and others that are ad

[2016-01-14 20:40] alfredodeza commented on #37
I understand the use case but you would have a similar problem if the test files were using a prefix other than `test_`. In that case, I would say that changing your `conftest.py` file to use the `python_files` directive would be a good solution: http://pytest.org/latest/customize.html#confval-python_files

I was never a fan of using `Pytest project`, I meant the plugin to report on a succinct amo

[2016-01-15 09:10] Spaghetti-Cat commented on #37
As far as I know, py.test requires that test filenames are prefixed with `test_` but there is no requirement for the directory name; this is a requirement added by pytest-vim.

It's a good feature of py.test that if I run the `py.test` command in the root dir of the project, it finds all the test files that are scattered in different directories; I thought the `project` argument to pytest-vim was

[2016-01-15 13:05] alfredodeza commented on #37
@Spaghetti-Cat thank you so much for reporting this and the discussion on IRC. I've added a fallback to check for a `test` directory as well since that is common (although not a good idea because it overrides a Python built-in).

Commit with fix is b428867198b638dbe5016ae7a99ec40a66d6dfc5

[2016-01-15 13:05] #37 closed

[2016-01-20 09:01] Spaghetti-Cat commented on #33
I'm trying the `extra-flags` branch, but I'm not sure I'm calling it properly. If I run `:Pytest class --quiet` tests still succeed and `:Pytest session` shows normal output, instead of quiet output.

[2016-01-20 09:02] Spaghetti-Cat commented on #33
I'm trying the `extra-flags` branch, but I'm not sure I'm calling it properly. If I run `:Pytest class --quiet` tests still succeed and `:Pytest session` shows normal output, instead of quiet output.

[2016-01-20 11:51] alfredodeza commented on #33
@Spaghetti-Cat that is probably because internally the plugin enforces the reporting type so it can parse the output. Using `--quiet` would break this. Can you try with another/different flag?

[2016-05-13 04:17] snard6 opened #39 "Easily re-run failed tests"
Since the plugin already stores out all the failed tests it would be nice to have a new parameter that allows only re-running the failures.  Something like:
`:Pytest failures`

[2016-05-13 11:02] alfredodeza commented on #39
Have you seen the `looponfail` flag? It might accomplish what you are asking:

https://github.com/alfredodeza/pytest.vim#looponfail

[2016-05-13 11:03] alfredodeza commented on #33
@blueyed ping? Mind taking a look at the work in the `extra-flags` branch?

[2016-05-13 15:29] snard6 commented on #39
@alfredodeza I had seen that option.  I was under the impression it was running all the tests again.  I have some big files that take a while to run, and I often have a small subset that fail.  It is nice to go through and address those tests, and then just rerun that small subset (since it is a big file).  Am I misunderstanding loop on fail?

[2016-05-13 18:55] alfredodeza commented on #39
Oh I see what you are saying, you want just the subset. So `looponfail` would only work for your use case if you are working on a single test not a whole set like say, in a class (unless you don't mind waiting for all of them to pass/fail).

Even though we may know what tests failed I am afraid approaching this is very tricky and not sure if possible. When tests fail, the plugin knows about paths,

[2016-06-24 04:12] D-Vaillant opened #40 "Running :Pytest file fails on files with spaces in their paths"
On Windows 10, GVim:
`ERROR: file not found: C:\Users\David`
File is located at `C:\Users\David Vaillant\Programming\etc\etc.py`.

Seems like it's a space-escaping issue?

[2016-06-24 12:50] alfredodeza commented on #40
@D-Vaillant can you try using commit f76b2010ca486f54ec23b5f00cb511247d9196cf (in escaped-paths branch) and see if that fixes your problem? Thanks!

[2016-06-24 16:39] D-Vaillant commented on #40
I switched to using commit `f76b201` but no change.

On Fri, Jun 24, 2016 at 5:50 AM, Alfredo Deza <notifications@github.com>
wrote:

[2016-06-24 18:22] alfredodeza commented on #40
@D-Vaillant can you try that actual branch? I found an issue with my one commit (and pushed 8245c63df5cbd0344f0f133542d970d170752ff4 )

[2016-06-24 20:47] D-Vaillant commented on #40
Seems like that did it!

[2016-06-24 20:47] #40 closed

[2016-06-27 13:08] #39 closed

[2016-07-12 07:27] dgoldstein0 opened #41 "plugin isn't being loaded for python files for me"
I tried adding this plugin to my existing vim setup, which uses pathogen to load all my plugins - I installed it under .vim/bundle/pytest.vim, and can see that pathogen adds it as part of runtime files, but afaict it's just not being executed at all when I open a python file - which I've verified has the correct filetype set.

So I'm at a loss for what might be going wrong.  Would appreciate some

[2016-07-12 10:09] alfredodeza commented on #41
Try adding:
    filetype plugin on
On your vimrc and see if that fixes it.
On Jul 12, 2016 3:27 AM, David Goldstein <notifications@github.com> wrote:I tried adding this plugin to my existing vim setup, which uses pathogen to load all my plugins - I installed it under .vim/bundle/pytest.vim, and can see that pathogen adds it as part of runtime files, but afaict it's just not being executed at all w

[2016-07-13 04:27] dgoldstein0 commented on #41
that's exactly what I needed.  Thanks!

mildly curious - what does that do that `filetype on`  doesn't?

[2016-07-13 11:57] alfredodeza commented on #41
@dgoldstein0 this plugin is a "filetype" plugin, that is: it is only loaded when there is a matching filetype for the plugin.

`filetype on` just enables detection, nothing to do with enabling plugins for file types.

A bit confusing.

I am going to re-open this so I can update the docs. This should have been properly documented.

[2016-07-13 16:24] alfredodeza commented on #41
Fixed with commit ca43012123d66e0eaad3b5ae543052a947c0060c

[2016-07-13 16:24] #41 closed

[2016-09-29 13:58] alfredodeza commented on #33
I am closing this since @blueyed didn't confirm that the extra-flags branch would work. Feel free to re-open otherwise. Thanks!

[2016-09-29 13:58] #33 closed

[2016-11-04 20:23] DerWeh opened #44 "`Pytest function` files for marked functions."
If I run the `:Pytest function` command on a function marked with the decorator `@pytest.mark.xfail(raises=ValueError)` I get the error message

Removing the the decorator gives the expected output showing the Value error.

[2016-11-06 07:09] josefson opened #45 "Why not feed the location list with the errors found?"
I know you implemented next/previous/first/last functions, so this is more a doubt question than anything else. What was the reason behind the choice made here in that regard.

[2016-11-06 16:53] alfredodeza commented on #44
@DerWeh would you mind including the `:Pytest session` full output so I can take a look? If the plugin fully fails to capture and properly parse the output it will display that message. To try a fix I need this output. Thanks!

[2016-11-06 16:55] alfredodeza commented on #45
Interesting! I had no idea about location list. I always disliked the Quickfix window because it was global. If you had a way to implement this it would be nice

[2016-11-07 01:23] josefson commented on #45
I don't know any vimscript, i just liked your plugin a little up to the point where i had to map the jumps to the same bindings i have for location-list movements, but then it could cause me pain when i have a location-list and your buffer opened. I chose to use pytest with Dispatch for now, since i can't do much more, i describe bellow what i found about how to do it.
From what i read on the [doc

[2016-11-07 12:23] alfredodeza commented on #45
Thanks for the extra information. Sorry to hear that this caused you to use something else

[2016-11-07 12:23] #45 closed

[2016-11-07 12:34] BenNewsome opened #46 "Include a guide on how to install this"
Do I just copy the pytest.vim file to my .vim/ftplugin or is there something I am missing.

I also have vundle installed which appears to require filetype off.

As this appears to require filetype on, does this mean this is incompatible?

[2016-11-07 13:26] alfredodeza commented on #46
An installation guide would fail pretty quickly to address what you describe in this issue. I am not sure how `vundle` works. For example, I use `pathogen` and that only needs the full checkout of this repository in `.vim/bundle/`

You are correct that this is a `filetype` plugin and it is required to have `filetype=on` to make it work.

Filetype plugins require to be in the right directory for th

[2016-11-07 14:40] BenNewsome commented on #46
I have got it to work. Thanks.
I did not know it had to be in .vim/bundle/
Vundle is a bundle manager from the looks of it, where you just have to type the github username/project title.
So to install this in vundle I had to add to my vimrc in the correct location:
`Plugin alfredodeza/pytest.vim
`
And then do` :PluginInstall`
I am pretty new to plugins in vim and so just saying something like inst

[2016-11-07 21:23] DerWeh commented on #44
Here is the full output:
[code]

[2016-11-08 13:08] alfredodeza commented on #44
Aha! Yep, this will break it. I know how to fix it though! I should have something done in a little bit. Thanks for getting me the output

[2016-11-08 15:22] alfredodeza commented on #44
@DerWeh can you pull the latest changes and see if that fixes it for you? This commit deals with this exact situation 1f1d413aae9669095f61a46ea11c5b030b796cd0

[2016-11-08 21:40] DerWeh commented on #44
Thanks everything is fine now.

[2016-11-08 21:40] #44 closed

[2016-12-25 01:44] Alok opened #47 "broken on Neovim"
I think you have to modify some function calls as specified [here](https://github.com/neovim/neovim/wiki/Following-HEAD).

[2016-12-25 01:44] Alok commented on #47
More specifically, running `:Pytest file` gives this error: `E120: Using <SID> not in a script context: s:HandleOutput`.

[2016-12-27 14:07] alfredodeza commented on #47
I couldn't reproduce with the NeoVim version I had. Do you know what version are you using where this is a problem?

[2016-12-28 00:08] Alok commented on #47
I'm using the latest build from git.

[2016-12-28 14:48] alfredodeza commented on #47
@Alok and what version is that?

This is problematic for the plugin because it is a backwards incompatible change within the same major release.

I'm considering dropping a continuous support for NeoVim if this keeps up.

[2016-12-28 16:38] alfredodeza commented on #47
The current version I am trying that works is 0.1.4, for a backwards incompatible change I am unsure how could I go around supporting both ways

[2016-12-29 01:01] Alok commented on #47
NVIM v0.2.0-211-g9009c20

[2016-12-29 14:56] alfredodeza commented on #47
I will leave this issue open, but will not fix it anytime soon since this requires to support a development version that would break whoever is using the stable one(s)

[2017-02-15 20:08] decko opened #49 "Use ipdb or ipython capabilities when available."
ipdb uses ipython terminal capabilities to let developers interact with python code at a breakpoint. It would be nice to use it instead pdb if it's available.

[2017-03-06 13:14] alfredodeza commented on #49
One can use ipdb or anything really, you just need to pass the `-s` option when running. For example in a test method that has `import ipdb; ipdb.set_trace()` you can do this:

    :Pytest method -s

And it will drop to a shell with ipython. Do you mean something different? Does the example not work for you?

[2017-03-06 16:41] decko commented on #49
Sorry @alfredodeza. I didn't read the docs. It works here with ipdb.

But when I have a split on the window, after the -s or --pdb exits it close the split where it ran. It's the expected behavior?

[2017-03-06 18:30] alfredodeza commented on #49
@decko if the process exits so will the window. If you want to keep it around, don't exit. Closing this now since this is not really a bug. Feel free to re-open if you encounter a problem

[2017-03-06 18:30] #49 closed

[2017-05-25 20:01] decko opened #50 "Broken on Neovim stable"
Neovim 0.2 is the new stable, but pytest.vim won't work there.
It's there a easy way to update it?

[2017-05-25 20:56] alfredodeza commented on #50
Is this the same issue as https://github.com/alfredodeza/pytest.vim/issues/47 ?

[2017-05-26 12:12] decko commented on #50
Yes it is. Should I close this issue and focus on #47?

[2017-06-02 17:24] alfredodeza commented on #47
I am really struggling making this work. This used to rely on the fact that I could pass `tempfile` which is where the stdout lived:

      let s:id = jobstart(s:cmdline, {
            \ 'tempfile':  tempfile,
            \ 'on_exit':   's:HandleOutput' })

But with the new way I can't, or I am failing to find a way to pass the location of `tempfile` as an argument to `HandleOutput`.

If anyone ca

[2017-06-02 17:24] alfredodeza commented on #50
Yep, thanks for reporting. Anything that you can add to that other issue would be great (I am having issues trying to find a fix)

[2017-06-02 17:24] #50 closed

[2017-06-08 13:25] alfredodeza commented on #47
I think this https://github.com/alfredodeza/pytest.vim/commit/455889dcd4a69cfced3526cd838fa66636d3585c fixes it. Can you guys test it please so I can merge this?

/cc @Alok @decko

[2017-06-14 22:15] alfredodeza commented on #47
@Alok @decko ping?

[2017-06-25 13:14] kmarius commented on #47
https://github.com/alfredodeza/pytest.vim/commit/455889dcd4a69cfced3526cd838fa66636d3585c fixed the problem for me using nvim v0.2.0.

[2017-07-03 17:29] alfredodeza commented on #47
Merged 5368db5b692e42e97cb4c2a3a0f005a6b72c77eb to master. Thanks for being so patient! :)

[2017-07-03 17:29] #47 closed

[2017-08-25 18:23] jwkvam opened #51 "open terminal in new split for test"
Very nice plugin! Is it possible to run a test in a neovim terminal in a different window/split? I like to run with "-s" sometimes but when I do it reuses the split which contains the code I'm trying to test.

I managed to hack something myself. Maybe it'd be nice to have a config option? :)
[code]

[2017-08-29 13:55] alfredodeza commented on #51
Yeah, when I was using neovim this was very annoying, I would have to split first and then run my test, every time.

I'm inclined to say this is a problem with neovim (it is fine in vim). The problem with `vsp` is that a user might not want `vsp` and might prefer a horizontal split (`sp`) or to place a split in some other fashion (to the left, or the right, etc...)

[2017-10-04 21:37] Alok opened #52 "Consider allowing setting the debugger"
I'm sure many people use `pudb` or `ipdb` instead of regular `pdb` because it's not great.

[2017-10-05 11:36] alfredodeza commented on #52
Can you explain a bit more what you are trying and how that isn't working? There is no specific support for `pdb`. I personally use `ipdb` and that works fine with pytest.vim

This is supported by using the "no capture" flag, like:

    :Pytest method -s

Which will allow to drop to the debugger (regardless of your choice).

[2017-10-06 10:00] atgiovannini opened #53 "Support to run on save"
Could be a nice feature to enable `run test` when project file saved. And maybe some little box green/red for fail or pass all tests instead resume of all test (optional color box)

[2017-10-06 10:53] alfredodeza commented on #53
There is already support for this with `looponfail` have you tried that and it doesn't work for your use case?

https://github.com/alfredodeza/pytest.vim/#looponfail

[2017-10-06 13:27] atgiovannini commented on #53
Yes, I'm using this feature now, but when all tests are Passed, then not run again.

(And I'm getting some python exceptions on run on save)

[2017-10-06 13:29] atgiovannini commented on #20
I'm getting the same issue when `:w` if looponfail active

[code]

[2017-10-06 13:54] atgiovannini opened #54 ":Pytest method not working"
On every try to execute `:Pytest method`  get `Unable to find a matching method for testing `

[2017-10-06 14:57] alfredodeza commented on #54
This is because the call is "context aware". It depends on the position of your cursor searching backwards. In this case it should work:

    class TestFoo(object):

        def test_foo(self):
            assert True
        <cursor position here>

But this would not work:

    class TestFoo(object):

    <cursor position here>

        def test_foo(self):
            assert True

[2017-10-06 14:58] alfredodeza commented on #54
If that is not the case, then could you show me some examples of the code you are trying to test and where your cursor is at the moment of invocation?

[2017-10-06 15:02] atgiovannini commented on #54
I'm using pytest, and not defining class like with unit test, maybe is for that, I attach you a test file
[test_files.txt](https://github.com/alfredodeza/pytest.vim/files/1363067/test_files.txt)

[2017-10-06 15:04] alfredodeza commented on #53
The problem with not stopping this behavior on some condition is that it can get annoying pretty fast.  You could set this for your use case with an autocommand without requiring the plugin to support it directly:

    :autocmd BufWritePost *.py :Pytest file

Closing this as the plugin supports the initial reported issue. For #20 that needs to get fixed there

[2017-10-06 15:04] #53 closed

[2017-10-06 15:05] alfredodeza commented on #54
@atgiovannini you are using a function, not a class, so you would need to do:

    :Pytest function

Alternatively, to run the whole file:

    :Pytest file

[2017-10-06 15:07] atgiovannini commented on #54
Yeah, I'm using `:Pytest file` now, and I'm sorry, I didn't read about `:Pytest function`  in README.
Then, can close issue ;)

[2017-10-06 15:17] #54 closed

[2017-10-06 15:18] alfredodeza commented on #52
Closing this as I believe it is a non-issue. Feel free to-reopen in case you are finding this is not working correctly. Thanks!

[2017-10-06 15:18] #52 closed

[2017-10-06 15:18] dunk opened #55 "Feature Request: Open next error in the same window rather than a split"
It would be great to have this as a config option.

[2017-10-06 15:28] atgiovannini opened #56 "looponfail when write not test file"
Hi again!

Working with `:Pytest function looponfail` i was forced to re-write test file instead some project file to run the test again. I think could be interesting that run pending tests, when writing any project file instead only specific test file.

[2017-10-06 15:43] alfredodeza commented on #55
Can you try this and let me know if it works for you?

https://github.com/alfredodeza/pytest.vim/commit/81c9412d1dabc4def7af69d37b1de2132f51808c

Basically, set `let g:pytest_open_errors = 'current'` to make it use the same window

[2017-10-06 17:04] alfredodeza commented on #56
This is not currently possible because the support is tied to the position of the cursor. It is done like this because it would be hard (like very very hard) to get correctly what test function/class/method/file the user really intends on running if the current file is different.

The way this is done internally is by creating an `autocmd` tied to the buffer, like:

            autocmd! BufWritePo

[2017-10-06 17:04] #56 closed

[2017-10-06 17:33] alfredodeza commented on #20
@atgiovannini could you try and see if commit 88624df7f8f22f31dd54676d7f94e94696fed177 fixes this for you?

[2017-10-06 19:08] atgiovannini commented on #20
with this commit `82_ThisFile` to  `82_ThisFunction`

[code]

[2017-10-06 19:17] alfredodeza commented on #20
Wow, totally got the wrong commit in there, sorry about that. This commit is the right one: 309beb503b19a4626fbaa39023390823bbee71c8

[2017-10-06 19:19] atgiovannini commented on #20
Great! it solves! you will merge with master?

[2017-10-09 12:48] alfredodeza commented on #20
Fixed in master. Thanks for following up.

[2017-10-09 12:48] #20 closed

[2017-10-18 19:40] kraxli opened #57 "Is there any support for unittest"
Hi thanks for your plugin!

I am just wondering if there is support for unittest? For example:

[code]

[2017-10-18 22:56] alfredodeza commented on #57
@kraxli this totally works. I think your `failing_test` doesn't work because py.test will not pick up `failing_test` as a valid test method. It would need to be `test_failing`. That is: it needs to be prefixed by `test_`. Can you try that out and see if it works for you? (it does for me):

    $ cat test_case.py
    import unittest
    class TestClass(unittest.TestCase):

        def test_failing_

[2017-10-19 13:00] alfredodeza commented on #57
I will close this since it works for me. Feel free to re-open if you find an issue.

[2017-10-19 13:00] #57 closed

[2017-11-23 12:42] davidszotten opened #58 "fails on decorated methods"
Hi,

i have something like

[code]

when running `Pytest method` i get `py.test ==> Running test for parametrized method test_method` but it actually tries to run `'path/to/file.py'::TestClass`

[2017-11-23 13:25] alfredodeza commented on #58
The message is a bit misleading because it does call out to the class and then it filters by the method name. This is because `py.test` doesn't have support for parametrized test methods using the `'path/to/test.py::TestClass::test_method`

Do you have unexpected execution of the parametrized test? Or does it execute and you are just worried about the message? Does `:Pytest session` look ok/expect

[2017-11-23 13:30] davidszotten commented on #58
hey, thanks for the quick reply. and apologies if i wasn't clear: the point is that the test isn't parametrized at all, that's a regular pytest mark

[2017-11-23 13:33] alfredodeza commented on #58
Ouch. Of course. We are being naive trying to detect this. I can get a fix so you can try it out in a bit, thanks for clarifying!

[2017-11-23 13:41] davidszotten commented on #58
thank you!

[2017-11-23 14:01] alfredodeza commented on #58
@davidszotten can you try a7abab2622021ca657f01fe4b5dce91dcafb39ee  and tell me if that fixes this for you? I can then merge to master and hopefully close this ticket :)

[2017-11-23 14:26] davidszotten commented on #58
yes, this seems to fix the issue

i don't quite follow why parametrized functions need special handling, from what i see they can be invoked just like non-parametrized ones

[2017-11-23 14:32] alfredodeza commented on #58
This is because `py.test` can't use the notation of `/path/test_file.py::TestClass:test_method` when `test_method` is parametrized. I *think* this is because internally `py.test` is having signature for each parametrized execution.

That is why we use `-k` in this case, to specify up to the class, and then filter the test method with -k

Thanks for reporting this! Will push this to master

[2017-11-23 14:32] #58 closed

[2017-11-23 14:38] alfredodeza commented on #58
This is the issue I reported a while back https://github.com/pytest-dev/pytest/issues/649

Seems to have been fixed recently, but I have to supported older versions of `py.test` so this has workaround has to stay for now

[2017-11-23 15:17] davidszotten commented on #58
ah yes. looks like it was fixed in 2.9.1 (2016-03-17)

anyway. thanks for the fix for my current issue!

[2017-11-25 13:39] alfredodeza commented on #55
@dunk ping?

[2017-11-29 12:28] alfredodeza opened #59 "Failing to parse when warnings are all over"
Example failure:

    ============================= test session starts ==============================
    platform darwin -- Python 2.7.11, pytest-3.3.0, py-1.5.2, pluggy-0.6.0
    rootdir: /Users/alfredo/python/upstream/ceph-deploy, inifile: setup.cfg
    collected 37 items

    parser/test_osd.py ..                                                    [100%]

    =============================== w

[2017-12-26 22:07] joenye opened #60 "Unable to specify where to find the py.test command"
For my use case, I want to be able to run py.test with a custom prefix, so that it can be executed inside a docker container (e.g. `docker-compose exec my-app py.test ...`). Would it be possible to add this option?

[2017-12-27 13:54] alfredodeza commented on #60
That is an interesting issue. Would you be expecting automatic detection of `my-app` or how would you propose configuring that to avoid a 'global' setting that would mess up other docker apps?

Another issue here is that the plugin does a lot of work identifying paths and locations, so if the output of the `exec` command reports paths form the container that don't really map to the local one it wo

[2018-02-23 19:49] OddBloke opened #62 ""Undefined variable: a:3" during looponfail run"
When running with `:Pytest class looponfail`, I see an error when I save the test file:

![vim-pytest](https://user-images.githubusercontent.com/62736/36613763-86adc7ae-18a8-11e8-9f14-76982e4d83f7.png)

This doesn't, AFAICT, actually affect the running of the tests.

[2018-02-23 20:00] alfredodeza commented on #62
I just pushed db2daea041e88d3a5aadd5d79fab8f27f35e9c32 which should fix this. Can you verify it works for you ?

Thanks for reporting this!

[2018-02-23 20:10] OddBloke commented on #62
This has removed that particular error; I'm now observing tests run every time I save, but I'll open a separate issue for that.

Thanks for the quick fix!

[2018-02-23 20:10] #62 closed

[2018-02-23 20:11] OddBloke opened #63 "`looponfail` continues to run tests after everything passes"
Observed on the latest HEAD.

[2018-02-23 20:13] OddBloke commented on #63
I can reproduce this with:

[code]

and then toggling False to True.

[2018-02-23 21:44] alfredodeza commented on #63
Should be fixed with 1201491d4978ffef09126eacee011393b83ad284

Can you check and confirm ? Thanks!

[2018-02-23 22:14] OddBloke commented on #63
LGTM, thanks again for the speedy response!

[2018-02-23 22:14] #63 closed

[2018-04-23 23:16] #60 closed

[2018-04-25 23:56] alfredodeza commented on #2
I am currently working on async support with Vim 8. Async support with NeoVim is currently on master.

[2018-05-08 06:04] JakobGM opened #64 "Add documentation for tweaking jump behaviour"
Hi, thanks for the great plugin!

Glancing over the vimscript of this plugin, it is not instantly apparent to me how to tweak how pytest.vim jumps after executing ``:Pytest Class|Method|...``. I would like to keep my cursor position after invoking ``pytest.vim``.

I wondered if you could point me in the right direction for configuring ``pytest.vim`` for this use case. Naively, it could be done wit

[2018-05-08 12:12] alfredodeza commented on #64
Do you mean when the red/green/yellow bar is displayed? There are other kinds of jumps like when trying to go to the origin of the failed test.

I think we try to keep the cursor in the same place, and I haven't noticed in what situation the cursor would not comply:

    function! s:ThisClass(verbose, ...)
        let extra_flags = ''
        let save_cursor = getpos('.')
        call s:ClearAll()

[2018-05-08 12:31] JakobGM commented on #64
Okay, I have now confirmed that I see the same behaviour on a minimal ``init.vim`` configuration:

[code]

Before pressing ``,tf`` or executing ``:Pytest function``:

[code]

Movement after having pressed Enter to confirm the passing/failing test:

[code]

Here is the output of ``nvim --version``:

[code]

[2018-05-08 12:38] alfredodeza commented on #64
Aha, I've confirmed this annoying behavior in functions. I didn't noticed before because it doesn't happen on test methods. Will try and find why that is. Thanks for reporting it!

[2018-05-08 12:40] JakobGM commented on #64
Great, thanks for your time! :smiley:

[2018-05-08 14:11] alfredodeza commented on #64
Latest changes to master (including the tip at https://github.com/alfredodeza/pytest.vim/commit/f885af726b1398438710d02288925ab01027a8e1) should fix this problem for you. Please confirm so I can close this issue. Thanks again!

[2018-05-08 14:13] JakobGM commented on #64
That has fixed the issue, you're awesome :tada:

Thanks!

[2018-05-13 18:17] JakobGM opened #65 "Feature request: statusline function"
It would be nice to be able to register a ``pytest#statusline()`` function to be used with ``statusline``. That way you could disable the green/red bar and use your statusline in order to get quick feedback! Number of fails, first failing test identifier or just a binary output, perhaps customizable?

I think this plays well with the existing ViM ecosystem.

Whatever you decide,
Thanks!

[2018-05-15 23:02] alfredodeza commented on #65
Interesting you bring this up, I was toying a bit with a rough idea, this definitely sounds like a great improvement.

I will get started on some of this, and will let you know when I have something to share. Thanks for bringing this up!

[2018-05-15 23:09] JakobGM commented on #65
Glad to hear that you have already considered it! If you need someone to test a branch at any point, just say so.

Thanks for your time!

[2018-05-21 21:11] alfredodeza opened #66 "SyntaxError causes no session, breaks reporting"
Ran a test that called a very broken class method, the parser was not able to produce meaningful messages (`failed to parse, please see session`). Was only visible with `:Pytest method verbose`:

    Traceback (most recent call last):
      File "/Users/alfredo/.virtualenvs/ceph-volume/lib/python2.7/site-packages/_pytest/config.py", line 364, in _importconftest
        mod = conftestpath.pyimport(

[2018-09-28 02:58] rsnyman opened #67 "pytest command not configurable"
I'm using Debian and Python 3, and pytest is available as "pytest-3" or "py.test-3", but pytest.vim is hardcoded to "py.test".

Please would you consider making the pytest command configurable? That way I'd just be able to set it in my .vimrc like many of the other plugins I use.

Thank you!

[2018-09-28 13:01] alfredodeza commented on #67
Wow, I had no idea. What a bummer that distros have decided to mangle the name like that.

While I look at this, I guess you could symlink to py.test in the meantime?

[2018-10-06 13:27] alfredodeza commented on #55
@dunk if you have a chance to test the changes out to merge to master, that would be great. Thanks!

[2018-10-06 13:30] alfredodeza commented on #51
If using Vim 8, you get the full terminal support with correct window placement. I'm no longer using NeoVim and it is hard for me to support it now.

[2018-10-06 13:30] #51 closed

[2018-10-06 13:35] alfredodeza commented on #46
Fixed with 847aa6f95e3e87a32fd0aa8ff8fb04653123d277

[2018-10-06 13:35] #46 closed

[2019-02-11 13:56] alfredodeza opened #68 "ImportError breaks parsing"
It errors with "Unable to parse output"

    ImportError while loading conftest '/Users/alfredo/python/remoto/remoto/tests/conftest.py'.
    __init__.py:1: in <module>
        from .connection import Connection
    connection.py:4: in <module>
        from remoto.backends import ssh, openshift, kubernetes, local, podman, docker
    backends/openshift.py:1: in <module>
        from kubernets import

[2019-03-04 19:32] alfredodeza opened #69 "Fails to parse with SystemExit"
============================= test session starts ==============================
    platform linux -- Python 3.6.7, pytest-4.3.0, py-1.8.0, pluggy-0.9.0
    rootdir: /home/alfredo/python/ceph-medic, inifile: setup.cfg
    plugins: cov-2.6.1
    collected 1 item

    tests/util/test_hosts.py F                                               [100%]

    =================================== FAILURES ==

[2019-04-08 12:39] tuxxy opened #70 "Add support for pytest-pudb"
Hi, I love the plugin and just wanted to make a feature request that would make life 100x easier using this for me.

With `pytest-pudb`, it allows you to drop into a pudb debugger when a failure is hit by passing in `--pudb` (e.g: `pytest test_foobar.py --pudb`). What makes pudb special is all the advanced features it has that makes debugging a breeze. Give it a try if you haven't. You can examine

[2019-04-08 12:54] alfredodeza commented on #70
It is possible to use any debugger you want already by adding a debugger line to where you want to start the debugging session and passing the `-s` flag to signal *no capture* in py.test

If that is insufficient because you need to trigger `pudb` on failure, you can pass any extra flags with the plugin. I see this wasn't documented properly, I will follow up on that. To pass extra flags you can do

[2019-04-08 13:42] tuxxy commented on #70
I did actually try that to see if it would naively work, but it appears to get stuck somehow.

When I do that, it just says `py.test ==> Running tests for entire file` and never stops. However, when I do pass in `pdb`, it works right away.

[2019-04-08 13:52] alfredodeza commented on #70
Unfortunately, seems like `pytest-pudb` is grabbing stdin/stdout/stderr in such a way that seems impossible to make it work with Vim and how we "drop to a terminal". It is like a curses-like implementation which I don't know how to provide access to.

What does seem to work is to use:

            import pudb; pudb.set_trace()

And then call:

    :Pytest method -s

[2019-04-08 22:39] tuxxy commented on #70
Hmmm...

Thanks for looking into this. I'll stick with `-s` for now.

[2019-08-09 17:08] averagehat commented on #37
This functionality (checking for `test/` in addition to `tests/`) seems to have gotten lost somewhere along the way. Was that intentional?

[2019-09-20 18:58] alfredodeza commented on #70
Since I don't know how to provide an interface to a courses-based interface and you have a workaround I am going to close this issue. Thanks for reporting it!

[2019-09-20 18:58] #70 closed

[2020-01-13 14:28] alfredodeza commented on #59
I don't think this is a problem anymore. Can't replicate with warnings

[2020-01-13 14:28] #59 closed

[2020-02-19 13:53] alfredodeza opened #71 "fails to parse when no exceptions/assertions are reported"
In this case a fixture was called directly in a test method and Pytest complained. What happened here is that the fixture name got changed and the test method didn't get updated.

The fix, which would help with many other problems here is that the priority in parsing needs to be the last line where Pytest reports how many passing/failing/skipped/errors

[code]

[2020-03-04 08:13] wookayin opened #72 "`Pytest <action> -s` should open a new window"
Current behavior: Running `Pytest <file> -s` on a window (where a normal python buffer is opened) would switch the current window to a terminal one. After the test is done, the window would be closed.

I think this behavior is inconvenient as it closes the file I was working on. How can we run `Pytest ... -s` in a new window (split) or a tab? Thanks!

[2020-03-04 13:50] alfredodeza commented on #72
Ah, that behavior drops you to a terminal and you don't want that, correct? If you are using gvim (or MacVim on OSX) it should try to open a window within Vim I think. Have you tried that?

[2020-03-08 05:20] wookayin commented on #72
No, it doesn't work in that way. `:term` always replace the current buffer. The following patch works for me, but we may need to have a configuration point about where the window should be opened.

[code]

[2020-03-09 12:04] alfredodeza commented on #72
Something is not right here... what version of Vim are you using? Is it NeoVim or plain Vim?

What happens if you execute a command with `:term` like:

[code]

Does it open a new split? (it should in Vim).

My suspicion is that you either have NeoVim, or you are using an old version of Vim.

In Vim 8.1 and newer, the default behavior for `:terminal <command>` is to open a split.

[2020-03-09 21:32] wookayin commented on #72
I see. I was on neovim and now confirm that on vanilla vim :terminal splits by default. Sorry about the confusion! Neovim and vim8 work differently.

Now that it turns out that this is a **neovim-specific** problem, I think for the first if statement (e.g. `has('terminal')`) we can keep as-is and for the second one (for neovim) we can use an explicit split/vpslit command modifier.

[2020-03-12 12:28] alfredodeza commented on #72
I am no longer maintaining neovim since Vim made the changes I was looking for (async support mainly) in version 8. I encourage you to switch back!

If you could submit a PR for the nvim changes you proposed, I would be happy to merge.

[2020-03-24 12:45] leblancfg opened #73 "Runtime arguments not sent to :Pytest project"
I have a couple slow integration tests in my test suite, that really slow it down. They are marked as such:

    @pytest.mark.slow
    def test_integration_...():

For most dev tasks, I skip them by running `pytest . -m "not slow"`.

Seems like a straightforward thing to accomplish with the plug-in, but am wondering how to set it up? Is there a way to pass extra runtime arguments to Pytest? Thanks

[2020-03-24 12:48] alfredodeza commented on #73
The plugin does allow extra arguments that are then passed on to `pytest` itself. If you are in a class that have a few of those `slow` tests and want to skip them then you could do this:

[code]
Similarly, if in a file, you could do:

[code]

That *should* work.

[2020-03-24 12:57] leblancfg commented on #73
Thanks for the fast response.
It does indeed work for `:Pytest file`, but not `:Pytest project`. Any way you see I might be able to achieve that? Thanks!

[2020-03-24 13:02] leblancfg commented on #73
The following lines would seem to make it pass those arguments... https://github.com/alfredodeza/pytest.vim/blob/847aa6f95e3e87a32fd0aa8ff8fb04653123d277/ftplugin/python/pytest.vim#L1233
but timing the call I get the same times as without the extra `-m "now slow"` param.

[2020-03-24 13:33] alfredodeza commented on #73
Found the issue I think, can you try applying this patch?

[code]

[2020-03-24 13:57] leblancfg commented on #73
Sure does, thanks a million! :)

[2020-03-24 14:04] alfredodeza commented on #73
I'll make the update to master and then close this issue. Thank you for reporting it!

[2020-03-25 12:48] #73 closed

[2020-05-13 23:29] vecin2 opened #74 "Configurable project test directory"
Great plugin, simple and work OTB prefect!
I just had to tweak slightly to make it work for my requirements:
I am working within a project which has multiple 'tests' directories, so I needed to customize the directory used to project tests.
I was able to after adding a line to my `.vimrc`:
`let g:pytest_test_dir='/my/python/project/root'`

And then adding an additional if to your script so that va

[2020-05-15 13:28] alfredodeza commented on #74
That is a good catch. I still struggle with the feature of being able to run all the tests in a project (I don't think it is a good idea to run them all inside Vim), but I agree that this variable shouldn't get overridden.

Thank you for the code suggestion, and after reviewing the plugin, I think that would be fine as a PR (to give you credit). If you prefer for me to make the changes, I'm happy

[2020-05-15 15:00] vecin2 commented on #74
Hi Alfredo!
Congrats on this project. I've initially started using vim-test, but I had
to play around with settings to get working close to what I wanted. Then,
I've tried yours: its simple and straight to the point, like it!

I'll submit a pull request hopefully can make it this weekend.

One more thing, could you elaborate more on why is a bad idea to run all
project tests within vim?

Thanks
Da

[2020-05-15 16:37] alfredodeza commented on #74
Here are a few reasons that are concerning to me:

* Running all the tests for a project might take a while. The idea behind running tests in a text editor is fast feedback - the complete opposite of running all the tests in a project
* The `tests/` directory might have functional tests that might not be desirable, and it is really hard to exclude from the plugin
* There is potential for several d

[2020-05-18 19:33] ubmarco commented on #72
Thanks for this plugin, I'm experimenting with it currently. I also use neovim and don't see a tab/window opening with our without `-s`.
I think changing from neovim to vim is not an easy thing to do because other plugins do only work with neovim (e.g. rely on the floating windows feature). I at least won't switch back.
Is there an option to support both?
Opening a vertical split terminal can be d

[2020-05-18 19:56] alfredodeza commented on #72
Thanks for the comment @ubmarco . Like I mentioned, I no longer use NeoVim, so I can't ensure that changes like this work seamlessly. However, if you are up for it, and the patch in this thread works for you, I'm happy to merge a PR.

[2021-04-20 13:01] #66 closed

[2021-04-20 13:01] #68 closed

[2021-08-21 09:43] con-f-use opened #77 "video in the readme unrated"
it's a small thing, but the [video](https://vimeo.com/19774046) in the readme is unreated and vimeo now requires a login for age verification. Maybe you can get it rated for all audiences, so it's publicly accessible?

[2021-10-25 17:17] dwhswenson opened #78 "`:Pytest function` doesn't work with nested functions"
Nested functions within bare test functions don't find the test function correctly. This is basically the same problem as #24, but it looks like the fix for that (#25) may have missed this use case.

[code]

vim 8.2; pytest.vim @ ba2bab8

[2022-11-15 23:06] alfredodeza commented on #78
Hey @dwhswenson nice catch! There must be a good reason why the code has nested functions in a test case, but can you help clarify what the use case is here?

Would it be reasonable to say that any nested function that is not prefixed with `test_` should be ignored?

[2022-11-16 00:26] dwhswenson commented on #78
Looking back, I'm guessing this may have been the code I was working on at the time (it was probably something in that repo):

https://github.com/openpathsampling/openpathsampling-cli/blob/f0c772215960820202ecf4ba37f1fbf73a309d8b/paths_cli/tests/wizard/test_cvs.py#L19-L34

What I'm doing there is defining a one-off patch for a single instance, which allows me to isolate this test from the actual `

[2022-11-24 15:36] alfredodeza commented on #78
Can you try the latest commit pushed to master? It is https://github.com/alfredodeza/pytest.vim/commit/6303575b5b4379326ae692767684b1c6b34c59b1

I used your example to ensure it would work fine.
<img width="674" alt="Screen Shot 2022-11-24 at 10 36 42 AM" src="https://user-images.githubusercontent.com/317847/203821779-a1e65ad9-6b7f-4d7a-9824-2f06f842eba5.png">

[2022-11-25 14:22] alfredodeza commented on #77
Wow I had no idea. It is a very old video anyway and not super useful. Perhaps I should do a better/newer one that helps explain what this plugin does

[2022-11-25 14:24] alfredodeza commented on #74
Fixed with https://github.com/alfredodeza/pytest.vim/pull/75

[2022-11-25 14:24] #74 closed

[2022-11-25 14:24] #72 closed